﻿<!-- We pull the title with Razor. For the package call we use AJAX request using JQuery. -->
@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div class="row">
            <div class="col-md-3 offset-md-9">
                Location:
                <select id="locationSelect">
                    <option value="NONE">--Choose Country--</option>
                    <option value="MK">Macedonia</option>
                    <option value="UK">United Kingdom</option>
                    <option value="US">United States</option>
                    <option value="BG">Bulgaria</option>
                    <option value="SR">Serbia</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-12">
                <div id="packages" class="row">
                </div>
            </div>
        </div>
    </div>


<style>
    .package {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 20px;
        margin: 10px;
        min-height: 275px;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 30px;
        text-align: center;
        color: #1abc9c;
        height: 80px;
    }

    .price {
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        padding-bottom: 10px;
    }

    .package-type {
        text-align: center;
    }

    .order {
        padding-top: 30px;
        text-align: center;
    }
</style>

@section scripts
{
    <script type="text/javascript">
        // extension function, to retrieve URL param
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                .exec(window.location.search);

            return (results !== null) ? results[1] || 0 : false;
        }

        $(document).ready(function () {
            var queryLocation = $.urlParam('country');
            if (queryLocation === false) {
                $("#locationSelect").val('NONE');
            }
            else {
                $("#locationSelect").val(queryLocation);
            }

            $("#locationSelect").change(function () {
                var value = $("#locationSelect").val();
                if (value === 'NONE') {
                    window.location.href = '/';
                }
                else {
                    window.location.href = '/?country=' + value;
                }
            })

            $.ajax({
                url: (queryLocation === false) ? '/api/packages' : ('/api/packages?country=' + queryLocation),
                success: function (result) {
                    var packagesContainer = $("#packages");
                    packagesContainer.empty();
                    for (var i = 0; i < result.length; i++) {
                        var pck = result[i];
                        var cont = $("<div class='col-md-6 col-sm-12'></div>");
                        var package = $("<div class='package' id='package-" + pck['id'] + "'></div>");
                        cont.append(package);
                        var title = $("<div class='title'>" + pck['name'] + "</div>");
                        package.append(title);

                        var price = $("<div class='price'>Price: " + pck['currency'] + " " + (+pck['price']).toFixed(2) + "</div>");
                        package.append(price);

                        var packageType = $("<div class='package-type'>Period: " + pck['packageType'] + "</div>");
                        package.append(packageType);

                        var order = $("<div class='order'><button class='btn btn-md btn-success'>Order</button></div>");
                        package.append(order);

                        packagesContainer.append(cont);
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert('Error while loading the packages!');
                }
            });    
        })   
    </script>
}
